In [253]:
import pandas as pd
import numpy as np
import datetime as datetime

In [254]:
# Client's information
client_url = 'https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/CLIENT_191102.tsv'
client = pd.read_csv(client_url, sep = '\t')
# Client's income information
income_url = 'https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/INCOME_ENTRY_191102.tsv'
income = pd.read_csv(income_url, sep = '\t') 
# Client's entry/exit information
time_url = 'https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/ENTRY_EXIT_191102.tsv'
time = pd.read_csv(time_url, sep = '\t') 
# Client's detail information
detail_url = 'https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/EE_UDES_191102.tsv'
detail = pd.read_csv(detail_url, sep = '\t')

In [255]:
# Remove unimportant indentifier columns
client.drop(["EE Provider ID", "EE UID", "Client Unique ID"], inplace=True, axis = 1)
income.drop(["EE Provider ID", "EE UID", "Client Unique ID", "Recordset ID (140-recordset_id)", "Provider (140-provider)"], inplace=True,  axis = 1)
time.drop(["EE Provider ID", "EE UID", "Client Unique ID"], inplace=True, axis = 1)
detail.drop(["EE Provider ID", "EE UID", "Client Unique ID"], inplace=True, axis = 1)

In [256]:
# Drop uplicates
final_client = client.drop_duplicates()
final_income = income.drop_duplicates()
final_time = time.drop_duplicates()
final_detail = time.drop_duplicates()

In [257]:
# Client Data: select intersting columns, change the columns' names, and remove missing data
final_client_real = final_client[["Client ID","Client Age at Entry","Client Gender","Client Primary Race","Client Ethnicity","Client Veteran Status"]].dropna()
final_client_real.columns = ["Client","Age","Gender","Race","Ethnicity","Veteran"]

In [258]:
final_client_real.head()

,Client,Age,Gender,Race,Ethnicity,Veteran
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [259]:
# Client Data: since there are "(HUD)"s at the end of the options in the Race, Ethnicity, and Veteran Variable, simplify the options 
final_client_real = final_client_real.replace(to_replace = "Trans Female (MTF or Male to Female)", value = "Trans Female")
final_client_real = final_client_real.replace(to_replace = "American Indian or Alaska Native (HUD)", value = "American Indian or Alaska Native")
final_client_real = final_client_real.replace(to_replace = "Asian (HUD)", value = "Asian")
final_client_real = final_client_real.replace(to_replace = "Black or African American (HUD)", value = "Black/African American")
final_client_real = final_client_real.replace(to_replace = "Native Hawaiian or Other Pacific Islander (HUD)", value = "Native Hawaiian/Pacific Islander") 
final_client_real = final_client_real.replace(to_replace = "White (HUD)", value = "White")
final_client_real = final_client_real.replace(to_replace = "Hispanic/Latino (HUD)", value = "Hispanic/Latino") 
final_client_real = final_client_real.replace(to_replace = "Non-Hispanic/Non-Latino (HUD)", value = "Non-Hispanic/Non-Latino") 
final_client_real = final_client_real.replace(to_replace = "Data not collected (HUD)", value = "Missing") 
final_client_real = final_client_real.replace(to_replace = "Client refused (HUD)", value = "Missing") 
final_client_real = final_client_real.replace(to_replace = "Client doesn't Know (HUD)", value = "Missing") 
final_client_real = final_client_real.replace(to_replace = "Client doesn't know (HUD)", value = "Missing") 
final_client_real = final_client_real.replace(to_replace = "Yes (HUD)", value = "Yes") 
final_client_real = final_client_real.replace(to_replace = "No (HUD)", value = "No")

In [260]:
final_client_real.head()

,Client,Age,Gender,Race,Ethnicity,Veteran
0,397941,60.0,Female,White,Non-Hispanic/Non-Latino,No
1,130335,48.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
2,188933,42.0,Female,Black/African American,Non-Hispanic/Non-Latino,No
3,168290,57.0,Male,White,Hispanic/Latino,No
4,123122,51.0,Male,White,Non-Hispanic/Non-Latino,No

In [261]:
# Client Data: Drop missing data in Ethnicity ("Data not collected (HUD)", "Client refused (HUD)", "Client doesn't Know (HUD)")
final_client_real = final_client_real[final_client_real["Ethnicity"] != "Missing"]
final_client_real = final_client_real[final_client_real["Race"] != "Missing"]

In [262]:
# Income Data: select intersting columns, change the columns' names, and drop missing data
final_income_real = final_income[["Client ID","Monthly Amount (Entry)"]].dropna()
final_income_real.columns = ["Client","Income_Monthly"]

In [263]:
final_income_real.head()

     Client  Income_Monthly
43   130335           733.0
147  363382          1200.0
162  165730           733.0
166  291392           800.0
207  385539           250.0

In [264]:
# Entry/Exit Data: select intersting columns, change the columns' names, and drop missing data
final_time_real = final_time[["Client ID","Entry Date","Exit Date"]].dropna()
final_time_real.columns = ["Client","Entry","Exit"]

In [265]:
# Entry/Exit Data: transform entry and exit dates to datetime and create "Time in UMD" variable
final_time_real["Entry"] = pd.to_datetime(final_time_real["Entry"], format='%m/%d/%Y')
final_time_real["Exit"] = pd.to_datetime(final_time_real["Exit"], format='%m/%d/%Y')
final_time_real["Time"] = final_time_real["Exit"] - final_time_real["Entry"]

In [266]:
final_time_real.head()

   Client      Entry       Exit     Time
0  397941 2015-08-15 2016-07-11 331 days
1  130335 2015-08-15 2015-08-31  16 days
2  188933 2015-08-15 2015-09-19  35 days
3  168290 2015-08-15 2016-03-07 205 days
4  123122 2015-08-15 2015-08-24   9 days

In [267]:
# Entry/Exit Date: since there are "days" at the end of the options in the Time Variable, simplify the options 
final_time_real["Time"] = final_time_real["Time"].apply(lambda row: row.days)

In [268]:
final_time_real.head()

   Client      Entry       Exit  Time
0  397941 2015-08-15 2016-07-11   331
1  130335 2015-08-15 2015-08-31    16
2  188933 2015-08-15 2015-09-19    35
3  168290 2015-08-15 2016-03-07   205
4  123122 2015-08-15 2015-08-24     9

In [269]:
# Entry/Exit Date: sum Time by Client
final_time_real = final_time_real.groupby(["Client"])["Time"].sum()

In [270]:
final_time_real.head()

Client
1096     14
1097     26
1555    302
1616     29
2024      1
Name: Time, dtype: int64

In [274]:
# Detail Data: select intersting columns, change the columns' names, and remove missing data
final_detail_real = detail[["Client ID","Does the client have a disabling condition?(1935)","Covered by Health Insurance(4376)", "Domestic violence victim/survivor(341)"]].dropna()
final_detail_real.columns = ["Client","Disability","HealthInsurance","DomesticViolence"]

In [275]:
final_detail_real.head()

   Client Disability HealthInsurance DomesticViolence
0  397941  Yes (HUD)       Yes (HUD)         No (HUD)
1  130335  Yes (HUD)       Yes (HUD)        Yes (HUD)
2  188933  Yes (HUD)        No (HUD)         No (HUD)
3  168290  Yes (HUD)        No (HUD)         No (HUD)
4  123122  Yes (HUD)        No (HUD)         No (HUD)

In [276]:
# Detail Data: since there are "(HUD)"s at the end of the options in the Disability, Health Insurance Coverage, and Domestic Violence Victim/Survivor, simplify the options 
final_detail_real = final_detail_real.replace(to_replace = "Yes (HUD)", value = "Yes")
final_detail_real = final_detail_real.replace(to_replace = "No (HUD)", value = "No")
final_detail_real = final_detail_real.replace(to_replace = "Client doesn't Know (HUD)", value = "Missing") 
final_detail_real = final_detail_real.replace(to_replace = "Client doesn't know (HUD)", value = "Missing")

In [277]:
# Detail Data: Drop missing data in the variables ("Client doesn't Know (HUD)", "Client doesn't know (HUD)")
final_detail_real = final_detail_real[final_detail_real["Disability"] != "Missing"]
final_detail_real = final_detail_real[final_detail_real["HealthInsurance"] != "Missing"]
final_detail_real = final_detail_real[final_detail_real["DomesticViolence"] != "Missing"]

In [278]:
# Merge
client_income = pd.merge(final_client_real, final_income_real, how="inner", 
                              left_on=["Client"], right_on=["Client"])
client_income_detail = pd.merge(client_income, final_detail_real, how="inner", 
                              left_on=["Client"], right_on=["Client"])
client_income_detail_time = pd.merge(client_income_detail, final_time_real, how="inner", 
                              left_on=["Client"], right_on=["Client"])

In [279]:
# Drop duplicates and missing data
data = client_income_detail_time.drop_duplicates()
final_data = data.dropna(axis=0,how='any')
data.shape

(2517, 11)

In [280]:
# Save: whole dataset
final_data.to_csv("../script/final_data.csv", index=False)

In [282]:
# Final Data: select demographic variables (invariant)
final_data_demo = final_data[["Client","Gender","Race","Ethnicity","Veteran"]].dropna()
final_data_demo = final_data_demo.drop_duplicates()

In [283]:
# Save: demographic variables (invariant)
final_data_demo.to_csv("../script/final_data_demo.csv", index=False)